    <section layout="row" class="game-container"  layout-align="center center">
        <div style="height: 500px; min-width: 800px">
            <md-grid-list class="gridListdemoBasicUsage" md-cols="4" md-row-height="200px" md-col-width="150px"
                          md-gutter="12px" md-gutter-gt-sm="8px">

                <md-grid-tile ng-repeat="card in [{src : 'assets/fish.PNG'},
                {src : 'assets/basket.PNG'},{src : 'assets/Turtle.PNG'},{letter : '&#1488;'}]"
                              md-rowspan="1" md-colspan="1">
                    <md-card>
                        <md-card-content layout="row" layout-align="center center" class="memory-card">
                            <img ng-if="card.src" ng-src="{{card.src}}"/>
                            <span ng-if="card.letter">
                              {{card.letter}}

                            </span>

                        </md-card-content>

                    </md-card>

                </md-grid-tile>


            </md-grid-list>

        </div>
    </section>



