<div layout="row">
    <div flex="66">
        <h1 class="title"><span translate="load.partial.arts.games.memory.title">Memory</span></h1>
    </div>
    <div  flex="33" layout="row" layout-align="center end">
        <div>
            <md-button class="md-raised md-primary" ng-click="vm.resetGame()">
                <span translate="load.partial.arts.toolbar.play_again">play_again</span>
            </md-button>
            <!--<md-button>Action 1</md-button>
            <md-button>Action 2</md-button>-->
            <!--<md-menu md-offset="5 70">
                &lt;!&ndash; Trigger element is a md-button with an icon &ndash;&gt;
                <md-button class="md-fab md-mini md-primary game-option" ng-click="$mdOpenMenu($event)">
                    <span class="round-button-option" translate="load.partial.arts.letters.alef">alef</span>
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-click="doSomething()">
                            <span translate="load.partial.arts.letters.alef">alef</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="doSomething()">
                            <span translate="load.partial.arts.letters.beit">beit</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="doSomething()">
                            <span translate="load.partial.arts.letters.gimel">gimel</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->
            <!-- Trigger element is a md-button with an icon -->
<!--            <md-button class="md-fab md-mini md-primary game-option game-option-action">
                <span class="round-button-option" ng-click="vm.resetGame()">
                    &lt;!&ndash;<md-icon md-svg-icon="social:android" aria-label="android "></md-icon>&ndash;&gt;
&lt;!&ndash;
                    <img src="/assets/refresh_button.png" />
&ndash;&gt;
                </span>
            </md-button>-->

        </div>
    </div>
    <div>

    </div>
</div>
