<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>arts - the AngularJS and RequireJS using TypeScript Seed</title>
    <meta name="description" content="arts - the AngularJS and RequireJS using TypeScript Seed">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/css/font-awesome.css"/>
    <link rel="stylesheet" href="vendor/css/angular-material.css"/>
    <link rel="stylesheet" href="vendor/css/default.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="css/styles.css"/>
    <script data-main="config" src="vendor/js/require.js"></script>
</head>

<body role="document" md-theme="{{ vm.theme }}">
    <div layout="row">

        <div class="header" layout="column">
            <div>
                <h1 class="title"><span translate="load.partial.arts.games.memory.title">Memory</span></h1>
            </div>
            <div>
                <div layout="row" layout-align="end end">
                    <!--<md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>-->
                    <md-menu ng-repeat="gameOption in [1,2,3]" md-offset="5 70">
                        <!-- Trigger element is a md-button with an icon -->
                        <md-button class="md-fab md-mini md-primary game-option" ng-click="$mdOpenMenu($event)"
                                   aria-label="Use Android">
                            <span class="round-button-option" translate="load.partial.arts.letters.alef">alef</span>
                        </md-button>
                        <md-menu-content width="1">
                            <md-menu-item>
                                <md-button ng-click="doSomething()">
                                    <span translate="load.partial.arts.letters.alef">alef</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="doSomething()">
                                    <span translate="load.partial.arts.letters.beit">beit</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="doSomething()">
                                    <span translate="load.partial.arts.letters.gimel">gimel</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>
            </div>
        </div>

    </div>
    <div class="view-container" layout="row" layout-align="center center">
        <div ng-view ></div>
    </div>


    <div layout="row" class="site-footer">

    </div>
</body>

</html>
